@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* Global Text */
  --color-primary: #4c4c5c;
  --color-secondary: #6c757d;
  --color-highlight: #188ae2;
  --color-muted: #9ba6b7;

  /* Global Background */
  --color-base: #f2f5f7;
  --color-primary-surface: #ffffff;
  --color-secondary-surface: #f6f8fb;
  --color-tertiary-surface: #d9d9d9;
  --color-highlight-surface: color-mix(in srgb, var(--color-highlight) 10%, white);

  /* Global Borders */
  --color-secondary-border: #dbdbdb;

  /* Component Backgrounds */
  --color-header: #343b4a;
  --color-header-item: #aab9ca;
  --color-header-item-hover: #e4f0ff;
  --color-header-search: #3f4759;
  --color-header-user: #3f4759;

  /* fonts list */
  --font-barlow: "Barlow", sans-serif;
  --font-hind-siliguri: "Hind Siliguri", sans-serif;
}

@layer base {
  [data-theme="light"] {
    /* Global Text */
    --color-primary: #4c4c5c;
    --color-secondary: #6c757d;
    --color-tertiary: #188ae2;
    --color-muted: #9ba6b7;

    /* Global Background */
    --color-base: #f2f5f7;
    --color-primary-surface: #ffffff;
    --color-secondary-surface: rgba(24, 138, 226, 0.1);

    /* Component Backgrounds */
    --color-header: #343b4a;
    --color-header-item: #aab9ca;
    --color-header-item-hover: #e4f0ff;
    --color-header-search: #3f4759;
    --color-header-user: #3f4759;

    /* Sidebar Menu */
  }
}

body {
  @apply bg-base text-primary overflow-hidden font-[Barlow];
}

.sidebar-menu-item {
  @apply hover:text-highlight text-secondary [.active]:bg-highlight-surface [.active]:text-highlight hover:bg-highlight-surface flex items-center gap-4 rounded-md px-3 py-2 font-medium transition ease-in-out;
}
